.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(167, 215, 255),
    rgb(179, 255, 250),
    rgba(230, 208, 255)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease;
  zoom: 350%;
}

.loading-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.loading-logo {
  width: 300px; /* Reduced size */
  height: 300px; /* Reduced size */
  animation: fadeInOut 4s ease-in-out infinite;
  margin: auto; /* Center the logo */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

/* Mobile adaptation */
@media (max-width: 768px) {
  .loading-logo {
    width: 150px; /* Adjusted size for mobile */
    height: 150px; /* Adjusted size for mobile */
  }
}
